<ol class="breadcrumb">
  <li>
    <a href="/admin">Home</a>
  </li>
  <li class="active">Reports</li>
</ol>
<a href="/admin/requests/report.pdf" target="_blank">Export to PDF</a>

<%= render partial: 'report.html' %>